.App {
  text-align: left;
  width: 960px;
  margin: 0 auto;
  min-height: 600px;
}

.App-main {
  margin-top: 40px;
  font-size: 20px;
  padding: 10px 20px;
}

input {
  font-size: 20px;
  margin-left: 1em;
}