---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "whiteglass";

$mietlimbo-background: #494A4A;
$mietlimbo-primary: #E87162;
$mietlimbo-sec: #82746B;

body {
	font-family: "Open Sans", sans-serif;
}

p, a, h1, h2, h3 {
	letter-spacing: 0 !important;
}

a, a:visited { color: $mietlimbo-sec;}

.site-header {
	padding-top: 26px;
	min-height: 82px
}

.site-title, .page-heading {
	font-size: 52px;
	font-family: "OSPDINDIN";
}

.site-title, .site-title:visited {	
	color: $mietlimbo-sec;
}

.site-title-highlight { color: $mietlimbo-primary }
.site-title:hover { text-decoration: none }

h1, h2, h3 {
	color: $mietlimbo-background;
	font-family: "OSPDINDIN";
	text-transform: uppercase;
}

.post-link, .post-link:visited { color: $mietlimbo-background; text-decoration: none;}
.post-link:hover { color: $mietlimbo-sec; }


.post-content h2 {
	font-size: 48px;
	margin: 30px 0 10px;
}

.post-title {
	font-size: 72px;
}

.site-footer {
	font-size: 12px
}