input {
	margin-top: 5px;
}

.mapEmbed {
	margin: 5px 20px;
}

.errorDesc {
	color: rgb(255, 64, 129);
}

.textInput {
	width: 90%;
}

.assistantInput {
	margin-bottom: 1em;
}

.activeStepLabel:hover {
	text-decoration: underline;
}