[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
requests = "*"
"beautifulsoup4" = "*"
prettyprint = "*"
Flask = "==0.12.3"
Flask-Cors = "*"
uwsgi = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
